* {
  font-family: "MesloLGMNerdFont";
  color: #e5e9f0;
}

#window {
  background: #1e1e2e;
  margin: auto;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #6e738d;
}

#input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  font-family : "MesloLGMNerdFont";
  font-size : 22px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 2px;
}

#entry:selected {
  background-color: #494d64;
}

#text {
  margin: 2px;
}
