@define-color rosewater #f5e0dc;
@define-color flamingo  #f2cdcd;
@define-color pink      #f5c2e7;
@define-color mauve     #cba6f7;
@define-color red       #f38ba8;
@define-color maroon    #eba0ac;
@define-color peach     #fab387;
@define-color yellow    #f9e2af;
@define-color green     #a6e3a1;
@define-color teal      #94e2d5;
@define-color sky       #89dceb;
@define-color sapphire  #74c7ec;
@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color text      #cdd6f4;
@define-color subtext1  #bac2de;
@define-color subtext0  #a6adc8;
@define-color overlay2  #9399b2;
@define-color overlay1  #7f849c;
@define-color overlay0  #6c7086;
@define-color surface2  #585b70;
@define-color surface1  #45475a;
@define-color surface0  #313244;
@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color crust     #11111b;
@define-color ws-btn-bg    #354662;
@define-color ws-btn-clr @overlay1;
@define-color win-clr #2df1df;
/* @define-color win-clr #86a5cc; */
@define-color win-bg @rosewater;

* {
  border: none;
    border-radius: 0px;
  margin: 0;
  font-family: "MesloLGMNerdFontMono";
  font-size: 13px;
  min-height: 15px;
}

#waybar {
  background: transparent;
  background: @surface0;
  font-size: 14px;
}
#workspaces button {
  padding: 0 5px;
  min-width: 10px;
  color: @mauve;
}

/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
  color: @crust;
  background: @mauve;
}

#custom-powermenu,
#cpu,
#memory,
#tray {
    border-radius: 0px;
  margin: 6px 4px;
}

#custom-powermenu,
#cpu,
#temperature,
#memory,
#clock,
#tray {
  padding: 0 4px;
}
#pulseaudio {
  padding: 0 10px;
  color: #2df1df;
  opacity: 0.7;
}

#window {
  color: @mauve;
  font-weight: 500;
  font-family: "MesloLGM Nerd Font Mono";
}

#custom-updates {
  color: @maroon;
}

#custom-powermenu {
  color: @red;
  margin-right: 8px;
}

#cpu {
  color: #61afef;
}

#temperature {
  color: @peach;
  /* color: #98c379; */
}

#memory {
  color: #e5c07b;
}

#network {
  color: #c678dd;
  min-width: 200px;
}

#tray {
  color: @mauve;
}

#clock {
  color: @mauve;
  font-weight: 500;
  margin-right: 2px;
  padding-right: 9px;
}

#battery {
  padding-right: 7px;
  padding-left: 7px;
    border-radius: 0px;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

#battery.critical:not(.charging) {
  color: @subtext0;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-power {
  font-size: 1.3em;
  color: @red;
  padding-right: 20px;
}
#custom-pomodoro {
  padding-right: 8px;
  padding-left: 8px;
  color: @mauve;
  font-weight: 600;
    border-radius: 0px;
}
